body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #f6d5f7, #aecff4);
  text-align: center;
  padding: 20px;
  color: #f1f1f1;
}

.container {
  max-width: 800px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 3em;
  color: #ffffff;
  text-shadow: 2px 2px #ff7eb3;
}

p {
  font-size: 1.2em;
  color: #ffffff;
}

.mood-buttons {
  margin: 20px 0;
}

.mood-btn {
  background-color: #ff8e8e;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.mood-btn:hover {
  background-color: #ffcccb;
}

#video-container {
  display: none;
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

iframe {
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#no-selection-message {
  color: #fff0f5;
}

